.wpml-ls {
    position: relative;
    width: 70px;
    min-height: 23px;

    &:hover .wpml-ls-current-language .wpml-ls-item-toggle {
        border-bottom: none;
        &:after {
            top: 9.5px;
            transform: rotate(45deg);
        }
    }

    a {
        background: white !important;
        height: 22px;
        padding: 0 12px !important;
        border-color: #c4c4c4;

        &:hover {
            span {
                opacity: 0.7;
            }
        }
    }

    .wpml-ls-current-language {
        .wpml-ls-item-toggle {
            &:after {
                content: "";
                position: absolute;
                top: 6px;
                right: 10px;
                width: 7px;
                height: 7px;
                background-color: transparent;
                border: none;
                border-left: 1px solid #007cc2;
                border-top: 1px solid #007cc2;
                transform: rotate(225deg);
                transition: .3s;
            }
        }

        .wpml-ls-sub-menu {
            border-top: none;
        }
    }

    .wpml-ls-native, .wpml-ls-display {
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 14px !important;
        line-height: 22px;
        color: #c4c4c4;
        text-decoration: none;
        cursor: pointer;
        outline: 0;
        border: 0;
        outline: 0;
        background-color: transparent;
        padding: 0 5px;
    }
}

.wpml-ls-statics-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 146px;
    height: 26px;
    opacity: 1;
    transform: scale(1);
    border: 1px solid #007cc2 !important;
    background: transparent !important;
    margin: 0 8px;

    .wpml-ls-link {
        background: none !important;
    }

    .wpml-ls-display {
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 14px !important;
        line-height: 22px;
        text-decoration: none;
        cursor: pointer;
        outline: 0;
        border: 0;
        outline: none;
        background-color: transparent;
    }
}

@media (min-width: 1201px) {
    .wpml-ls-statics-footer {
        display: none;
    }
}

@media (max-width: 1200px) {
    .wpml-ls-legacy-dropdown {
        display: none;
    }
}